.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background-color 1s ease;
}
/* animazione 1 */
.ex-1-square:hover{
    background-color: red;
}

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 1s ease;
}
/* animazione 2 */
.ex-2-square:active{
    width: 100%;
}

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 1s ease;
}
/* animazione 3 */
.ex-3-square:hover{
    border-radius: 50%;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: rgb(255, 0, 0);
    transition: background-color 1s ease;
}
/* animazione 4 */
.ex-4-square:hover{
    background-color: rgba(255, 0, 0, 0);
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: transform 1s ease;
}
/* animazione 5 */
.ex-5-square:hover{
    transform: scale(1.5);
}
.ex-5-square:active{
    transform: scale(0.5);
}

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}
/* animazione 6 immagine */
.ex-6-img:hover{
    filter: grayscale(100%);
}
/* animazione 7 immagine */
.ex-7-img{
        transition: filter 1s ease;
}
.ex-7-img:hover{
    filter: grayscale(100%);
}
/* animasione 8 immagine */
.ex-8-img{
    transition: filter 1s ease, border-radius 1s ease;
}
.ex-8-img:hover{
    filter: grayscale(100%);
    border-radius: 10px;
}
/* animazione 9 immagine */
.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}
.ex-9-img{
    transition: filter 1s ease, border-radius 1s ease, transform 1s ease;

}
.ex-9-img:hover{
    filter: grayscale(100%);
    border-radius: 10px;
    transform: scale(0.7);
}


.ex-10-icon {
    font-size: 60px;
    animation: loading 1s linear infinite;
}
/* loading animation 10*/
@keyframes loading{
    from{
        transform: rotateZ(0);
    }
    to{
        transform: rotateZ(360deg);
    }
}

.ex-11-icon {
    font-size: 60px;
    animation: animation-11 1s linear infinite;
}
/* animazione 11 */
@keyframes animation-11{
    0%{
        transform: rotateZ(0);
    }
    75%{
        transform: rotateZ(270deg);
    }
    100%{
        transform: rotateZ(-45deg);
    }

}

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

/* animazione 12 */
.ex-12-top-white{
    animation:button-12-top 1s linear alternate infinite;
}
@keyframes button-12-top{
    from{
        top: -10px;
        left: 10%;
    }
    to{
        top: -10px;
        left: 60%;
    }
}
.ex-12-bottom-white{
    animation:button-12-bottom 1s linear alternate infinite;
}
@keyframes button-12-bottom{
    from{
        bottom: -10px;
        right: 20%;
    }
    to{
        bottom: -10px;
        right: 60%;
    }
}

/* animazione 13 */
.ex-13-top-white{
    animation: button-13-top 2s linear infinite ;
}
@keyframes button-13-top{
    0%{
        top: -10px;
        left: 10%;
    }
    25%{
        top: -10px;
        left: 80%;
    }
    50%{
        top: 50px;
        left: 80%;
    }
    75%{
        top: 50px;
        left: 0;
    }
    100%{
        top: -10px;
        left: calc(0% - 10px);
    }
}

.ex-13-bottom-white{
    animation: button-13-bottom 2s linear infinite ;
}
@keyframes button-13-bottom{
    0%{
        bottom: -10px;
        right: 20%;
    }
    25%{
        bottom: -10px;
        right: 80%;
    }
    50%{
        bottom: 50px;
        right: 80%;
    }
    75%{
        bottom: 50px;
        right: 0;
    }
    100%{
        bottom: -10px;
        right: calc(0% - 10px);
    }
}